@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #F7F4EE;
}
body {
  color: var(--color-primary);
  background-color: rgb(15, 23, 42);
  font: 1em sans-serif;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
